<ion-header class="pm-header-default">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Meus Pets</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="pet-list" lines="full">
    <pet-item routerLink="/pet"
      *ngFor="let pet of pets"
      [pet]="pet"
    ></pet-item>
  </ion-list>
  <ion-button class="pm-button-reverse" expand="block" routerLink="/pet"> Adicionar Pet </ion-button>
</ion-content>
