.pm-button-default{
    --opacity: 0px;
    --border-radius: 5px;
    --color: var(--pm-color-yellow);
    --color-activated: var(--pm-color-red);
    --background: var(--pm-color-red);
    --background-activated: var(--pm-color-yellow);
    height: 47px;
    width: 85%;
    margin: auto;
    text-transform: capitalize;
    letter-spacing: 1;
}

.pm-button-outline{
    --opacity: 0px;
    --border-radius: 5px;
    --color: var(--pm-color-red);
    --color-activated: var(--pm-color-yellow);
    --border-color: var(--pm-color-red);
    --background-activated: var(--pm-color-yellow);
    height: 47px;  
    width: 85%;
    margin: auto;
}

.pm-button-reverse{
    --opacity: 0px;
    --border-radius: 5px;
    --color: var(--pm-color-red);
    --color-activated: var(--pm-color-yellow);
    --background: var(--pm-color-yellow);
    --background-activated: var(--pm-color-red);
    height: 47px;
    width: 85%;
    margin: auto;
    text-transform: capitalize;
    letter-spacing: 1;
}