.pm-button-default{
    
    --opacity: 0px;
    --border-radius: 5px;
    --color: var(--pm-color-yellow);
    --color-activated: var(--pm-color-red);
    --background: var(--pm-color-red);
    --background-activated: var(--pm-color-yellow);
    height: 47px;
}

.pm-button-outline{
    --opacity: 0px;
    --border-radius: 5px;
    --color: var(--pm-color-red);
    --color-activated: var(--pm-color-yellow);
    --border-color: var(--pm-color-red);
    --background-activated: var(--pm-color-yellow);
    height: 47px;  
}