.pm-header-before-login {
    ion-toolbar {
        --background: url('assets/images/header-background.png') no-repeat scroll center center / cover;
        --min-height: 180px;
        --border-color: var(--pm-color-yellow);

        ion-back-button {
            --color: var(--pm-color-red);
        }

        img {
            width: 50%;
            display: flex;
            position: fixed;
            top: 8%;
            left: 25%;
            display: flex;
            text-align: center;
        }
    }
}

.pm-header-default {
    ion-toolbar {
        --background: var(--pm-color-yellow);
        --color: var(--pm-color-red);
        --border-color: var(--pm-color-yellow);

        ion-back-button {
            --color: var(--pm-color-red);
        }

    }
}