ion-segment-button{
    --indicator-color: #dadada;
    --indicator-color-checked: var(--pm-color-red);
    --color-activated: #dadada;
    --color: #dadada;
    --color-checked: var(--pm-color-red);
    text-transform: capitalize;
    font-style: normal;
    text-align: center;
}