ion-thumbnail{
    --border-radius: 100%;
    --size: 50px;
}

ion-grid{
    .row-title{
        font-size: 16px;
    }
    .row-detail{
        margin-top: 2.5px;
        font-size: 14px;
        color: #727272;
        img{
            margin: auto 0px;
            max-width: 10px;
            max-height: 10px;
            margin-right: 5px;
        }  
    } 
}
