<ion-header class="pm-header-default">
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    <ion-title>Configurações</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list lines="full">
    <ion-item routerLink="/perfil">
      <img src="assets/images/configuration/icon-perfil.png" slot="start">
      <ion-label>
        Minha Conta
      </ion-label>
    </ion-item>
    <ion-item>
        <img src="assets/images/configuration/icon-logout.png" slot="start">
        <ion-label>
          Sair
        </ion-label>
      </ion-item>
  </ion-list>
</ion-content>