<ion-item>
  <ion-thumbnail slot="start" class="avatar">
    <img [src]="petshop.logo">
  </ion-thumbnail>
  <ion-grid>
    <ion-row class="row-name name">
      {{ petshop.name }}
    </ion-row>
    <ion-row class="row-details">
      <ion-col class="rating">
        <img src="assets/images/home/icon-rating.png" alt="">
        {{ petshop.rating_average }}
      </ion-col>
      <ion-col size="4"  class="map">
        <img src="assets/images/home/icon-pin.png" alt="">
        {{ petshop.address?.district }}
      </ion-col>
      <ion-col size="6" size-sm class="services">
        <img src="assets/images/home/icon-pet.png" alt="">
        {{ petshop.num_services }} serviços
      </ion-col>
    </ion-row>
  </ion-grid>
  <span class="span-offer" slot="end"> Até {{ petshop.max_discount }}% </span>
</ion-item>