<ion-header class="pm-header-default">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title> {{ petshop.name }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <img src="assets/images/atalaia-racoes.jpg" alt="" />
    </ion-slide>
    <ion-slide>
      <img src="assets/images/atalaia-racoes.jpg" alt="" />
    </ion-slide>
  </ion-slides>
  <ion-list class="petshop" lines="none">
    <petshop-item [petshop]="petshop"></petshop-item>
  </ion-list>

  <div class="service" *ngIf="type == 'services'">
    <ion-title class="segment-title"> Serviços </ion-title>
    <ion-list lines="full">
      <ion-item
        routerLink="/reservation"
        *ngFor="let service of petshop?.services"
      >
        <span slot="start">
          {{ service.type === "shower" ? "Banho" : "Tosa" }}
        </span>
        <span class="span-offer" slot="end">
          Até {{ service.max_discount }}%
        </span>
        <ion-icon name="arrow-dropright" slot="end"></ion-icon>
      </ion-item>
    </ion-list>
  </div>

  <div class="info" *ngIf="type == 'info'">
    <ion-title class="segment-title"> Informações </ion-title>
    <ion-list lines="full">
      <ion-item>
        <img slot="start" src="assets/images/home/icon-phone.png" />
        <ion-grid>
          <ion-row class="row-name name">
            Telefone
          </ion-row>
          <ion-row class="row-details">
            {{ petshop?.phone.phone }}
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item>
        <img slot="start" src="assets/images/home/icon-pin.png" />
        <ion-grid>
          <ion-row class="row-name name">
            Endereço
          </ion-row>
          <ion-row class="row-details">
            {{ petshop.address.street }}, {{ petshop.address.number }} -
            {{ petshop.address.district }}. {{ petshop.address.city }} -
            {{ petshop.address.state }}, {{ petshop.address.cep }}
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item>
        <img slot="start" src="assets/images/home/icon-clock.png" />
        <ion-grid>
          <ion-row class="row-name name">
            Horário de Funcionamento
          </ion-row>
          <ion-row class="row-details">
              {{ petshop?.schedule }}
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
  </div>

  <!-- <div class="ratings" *ngIf="type == 'ratings'">
    <ion-title class="segment-title"> Avaliações </ion-title>
  </div> -->

  <ion-segment [(ngModel)]="type" mode="md">
    <ion-segment-button mode="md" value="services">
      <ion-label>Serviços</ion-label>
    </ion-segment-button>
    <ion-segment-button mode="md" value="info">
      <ion-label>Informações</ion-label>
    </ion-segment-button>
    <!-- <ion-segment-button mode="md" value="ratings">
      <ion-label>Avaliações</ion-label>
    </ion-segment-button> -->
  </ion-segment>
</ion-content>
