<ion-header class="pm-header-default">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Reservas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment [(ngModel)]="type" mode="md">
    <ion-segment-button mode="md" value="new">
      <ion-label>Agendadas</ion-label>
    </ion-segment-button>
    <ion-segment-button mode="md" value="last">
      <ion-label>Passadas</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-list class="petshop-list" lines="none" *ngIf="type == 'new'">
    <div class="list" *ngFor="let reservation of reservations">
        <reservation-item [reservation]="reservation"></reservation-item>
        <ion-button class="pm-button-default" expand="block">
        Cancelar reserva
      </ion-button>
    </div>
  </ion-list>

  <ion-list *ngIf="type == 'last'">
    <div class="list" *ngFor="let reservation of reservations">
      <reservation-item [reservation]="reservation"></reservation-item>
      <ion-button class="pm-button-default" expand="block">
        Cancelar reserva
      </ion-button>
    </div>
  </ion-list>
</ion-content>
