<ion-header class="pm-header-default">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Configurações</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list lines="full">
    <ion-item>
      <ion-label>
        Contato
      </ion-label>
      <ion-icon name="arrow-dropright" slot="end"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>
        Termos de uso
      </ion-label>
      <ion-icon name="arrow-dropright" slot="end"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>
        Política de privacidade
      </ion-label>
      <ion-icon name="arrow-dropright" slot="end"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>