<ion-header class="pm-header-before-login">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <img src="assets/images/pm-logo.png" alt="">
  </ion-toolbar>
</ion-header>
<ion-content>

  <h1> Entrar </h1>

  <form [formGroup]="loginForm">
    <ion-item>
      <ion-input type="email" formControlName="email" placeholder="E-mail" (keyup)="submitFail = false"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="password" formControlName="password" placeholder="Senha" (keyup)="submitFail = false">
      </ion-input>
    </ion-item>

    <input-err [input]="loginForm.controls.email" msgErr="Email inválido."></input-err>
    <input-err [input]="loginForm.controls.password" msgErr="Senha inválida."></input-err>

    <ion-button class="button-login pm-button-default" type="submit" expand="block" [disabled]="!loginForm.valid"
      (click)="submitForm(loginForm)"> Entrar </ion-button>

    <submit-err [showErr]="submitFail" msgErr="Email ou senha incorreta."></submit-err>

  </form>
  
  <span class="remember-pass" routerLink="/remember-password"> Esqueceu a senha ?</span>
  <span class="terms"> Ao conectar você aceita os <a>termos de uso.</a></span>

</ion-content>