<ion-header class="pm-header-before-login">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <img src="assets/images/pm-logo.png" alt="">
  </ion-toolbar>
</ion-header>
<ion-content>

<h1> Criar Conta </h1>

<form>
  <ion-item>
    <ion-input type="text" placeholder="Nome completo"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input type="email" placeholder="E-mail"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input type="number" placeholder="Telefone"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Gender</ion-label>
    <ion-select placeholder="Selecione um">
      <ion-select-option value="f">Masculino</ion-select-option>
      <ion-select-option value="m">Feminino</ion-select-option>
    </ion-select>
  </ion-item>
</form>

<ion-button class="button-login pm-button-default" expand="block"> Concluir </ion-button>

</ion-content>
