<ion-header class="pm-header-default">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Fazer Reserva</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list class="petshop-info petshop" lines="none">
    <petshop-item [petshop]="petshop"></petshop-item>
  </ion-list>

  <ion-list class="time-list" lines="full">
    <ion-item>
      <ion-label> Selecione uma data </ion-label>
      <ion-datetime
        displayFormat="DD/MM/YYYY"
        min="2017"
        max="2029"
        [(ngModel)]="dateSelected"
        (ngModelChange)="dateChanged()"
      ></ion-datetime>
    </ion-item>
  </ion-list>

  <ion-list class="turn-list" lines="none" *ngIf="turnFiltered">
    <ion-label class="item-title"> Selecione um horário </ion-label>
    <ion-radio-group [(ngModel)]="turnSelected">
      <ion-item *ngFor="let turn of turnFiltered" >
        <ion-label> {{ turn.time_start }} até {{ turn.time_end }} - {{ turn.percent_discount }}%  </ion-label>
        <ion-radio slot="start" [value]="turn.id" checked></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>

  <div *ngIf="turnSelected" class="pet-list">
    <ion-list lines="none">
      <ion-label class="item-title"> Selecione um Pet </ion-label>
      <ion-radio-group [(ngModel)]="petSelected">
        <ion-item *ngFor="let pet of pets">
          <ion-radio slot="start" [value]="pet.id" checked></ion-radio>
          <ion-thumbnail slot="start" class="avatar">
            <img src="assets/images/pet.png" />
          </ion-thumbnail>
          <ion-grid>
            <ion-row class="row-name name">
              {{ pet.name }}
            </ion-row>
            <ion-row class="row-details">
              <ion-col>
                <img src="assets/images/home/icon-pet.png" alt="" />
                {{ pet.type }}
              </ion-col>
              <ion-col>
                <img src="assets/images/home/icon-pet.png" alt="" />
                {{ pet.breed }}
              </ion-col>
              <ion-col>
                <img src="assets/images/home/icon-pet.png" alt="" />
                {{ pet.gender === 'male' ? 'Macho' : 'Fêmea'}}
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-radio-group>
    </ion-list>

    <ion-button class="pm-button-reverse" expand="block" routerLink="/pet">
      Adicionar Pet
    </ion-button>
    <ion-button
      class="pm-button-default"
      expand="block"
      (click)="submit()"
    >
      Confirmar reserva
    </ion-button>
  </div>
</ion-content>
