<ion-header class="pm-header-default">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Olá, Rafael</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment [(ngModel)]="type" mode="md">
    <ion-segment-button mode="md" value="shower">
      <ion-label>Banho</ion-label>
    </ion-segment-button>
    <ion-segment-button mode="md" value="cough">
      <ion-label>Tosa</ion-label>
    </ion-segment-button>
  </ion-segment>
  <ion-item class="search-bar">
    <ion-icon name="search" slot="start"></ion-icon>
    <ion-input
      placeholder="Buscar por nome, serviço ou endereço..."
    ></ion-input>
    <ion-icon class="icon-filter" name="funnel" slot="end"></ion-icon>
  </ion-item>

  <ion-list class="petshop-list" lines="full" *ngIf="type === 'shower'">
    <petshop-item
      *ngFor="let petshop of petshops"
      [petshop]="petshop"
      (click)="toPetshop(petshop)"
    ></petshop-item>
  </ion-list>

  <ion-list *ngIf="type === 'cough'"> </ion-list>
</ion-content>
