<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <img src="assets/images/pm-logo.png" alt="">
  </ion-toolbar>
</ion-header>
<ion-content>

<h1> Esqueceu a senha? </h1>
<span> Digite seu e-mail, que iremos enviar as instruções para recuperar sua senha.</span>

<form>
  <ion-item>
    <ion-input type="email" placeholder="E-mail"></ion-input>
  </ion-item>
</form>

<ion-button class="button-login pm-button-default" expand="block"> Enviar </ion-button>

</ion-content>
